<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forms</title>
</head>
<body>
<tr th:if="${list.empty}">
  <td colspan="2"> No forms added </td>
</tr>

<a th:href="@{/Forms/addForm}">Add new form</a>
<br>
<br>

<tr th:each="form : ${list}">
    <a th:href="@{'/Forms/Students:form=' + ${form.getId()}}" th:text="${form.getForm_name()}"> Title</a>
    <form th:action="@{'/Forms/editForm:form=' + ${form.getId()}}" th:method="GET" >
        <input type="submit" value="Edit">
    </form>

    <form th:action="@{'/Forms/deleteForm:form=' + ${form.getId()}}" th:method="Delete" >
        <input type="submit" value="Delete">
    </form>

    <br>
</tr>


</body>
</html>