<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{'/Forms/addSubject:form=' + ${res.getForm_id()}}">addSubject</a>
<hr>

<tr th:if="${subjects_ids.empty}">
  <td colspan="2"> No subjects added </td>
</tr>
<br>

<tr th:each="subject_name : ${subjects_names}">
  <a th:text="${subject_name}">name</a>
  <form th:action="@{'/Forms/deleteSubject:form=' + ${res.getForm_id()} + ':subject='
  + ${subjects_ids.get(subjects_names.indexOf(subject_name))}}" th:method="Delete">
    <input type = "hidden" th:value = "${res.getForm_id()}">
    <input type="submit" value="Delete">
  </form>
  <br>
</tr>
</body>
</html>