<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subjects</title>
</head>
<body>

<a th:href="@{'/Forms/Students:form=' + ${form_id}}">
Back</a>
<a th:href="@{/Forms}">
    Home</a>

<p th:text = "${subjectsAndMarks.getStudentName()} +
' ' + ${subjectsAndMarks.getStudentSurname()}">name
</p>
<hr>

<tr th:if="${subjectsAndMarks.getSubjectsList().isEmpty()}">
    <td colspan="2"> No subjects added
    </td>
</tr>
<table>
    <tr th:each="subject :
    ${subjectsAndMarks.getSubjectsList()}">
        <td th:text="${subject.getName()}">
            subject_name
        </td>
        <td>
            <div th:each="mark : ${subject.getMarks()}">
                <a th:href="@{'/Forms/editMark:form=' + ${form_id} +
                ':subject=' + ${subject.getId()} + ':student='
                + ${subject.getStudent_id()} + ':mark='
                + ${mark.getKey()}}" th:text="${mark.getValue()}">mark</a>
            </div>
        </td>
    </tr>
</table>

</body>
</html>